<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
        <div class="nav justify-content-center" style="margin-top: 70px;">
            <table class="table table-hover table-responsive table-stripped " style="width:auto;height:350px;overflow-x: scroll; ">
                 <thead style="position:fixed; top:20px;">
                     <tr>
                         <th>FirstName</th>
                         <th>LastName</th>
                         <th>PhoneNumber</th>
                     </tr>
                 </thead>
                 <tbody >
                     <%for(var i=0;i< data.length;i++){%>
                       <tr>
                           <td><%= data[i].firstName%></td>
                           <td><%= data[i].lastName%></td>
                           <td><%= data[i].phoneNumber%></td>
                       </tr>
                    <%}%>
                 </tbody>
            </table> 
            </div>
            <br>
       <div class="nav justify-content-center">
        <form action="/" method="post">
        <button type="submit">Download as CSV file</button>
        </form>
        </div>
        
</body>
</html>